# Compiled CSS
*.css

# Minified js
*.min.js

# Sass
.sass-cache

# Grunt
/node_modules/
/crypto-news/
npm-debug.log

# Files
crypto-news.zip

# Codekit
config.codekit

# Transifex
.transifexrc
/languages/*.po
/languages/*.pot
/languages/*.mo

# Subline Text
.idea

# macOS
.DS_Store